.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #71C9CE;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 32px;
  color: #222831;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  padding: 12px 14px;
  border-radius: 10px;
  text-decoration: none;
  color: #222831;
  font-weight: 500;
  transition: 0.2s;
}

.sidebar nav a.active {
  background: #A6E3E9;
}

.sidebar nav a:hover {
  background: #CBF1F5;
}

.logout-btn {
  margin-top: auto;
  padding: 12px;
  border-radius: 10px;
  background: #ff4d4f;
  border: none;
  color: white;
  cursor: pointer;
}
