.layout {
  display: flex;
}

.content {
  margin-left: 220px; /* SAME AS SIDEBAR WIDTH */
  padding: 30px;
  width: 100%;
}
.layout {
  display: flex;
}

.content {
  margin-left: 220px;   /* SAME AS SIDEBAR WIDTH */
  padding: 30px;
  width: 100%;
}
